body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #b1cde9;
}

.App {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.button-group {
  margin-bottom: 2rem;
}

button {
  margin-right: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d1cbcb;
}

button.active {
  background-color: #007bff;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li img {
  border-radius: 50%;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

p {
  margin: 5px 0;
  color: #333;
}
